[project]
	description = Feed Area Custom Control
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pinaki Patra (pinakipatrapro)
[access "refs/for/refs/*"]
	read = group user/Pinaki Patra (pinakipatrapro)
	push = group user/Pinaki Patra (pinakipatrapro)
	label-Code-Review = -2..+2 group user/Pinaki Patra (pinakipatrapro)
	label-Verified = -1..+1 group user/Pinaki Patra (pinakipatrapro)
	rebase = group user/Pinaki Patra (pinakipatrapro)
	removeReviewer = group user/Pinaki Patra (pinakipatrapro)
	submit = group user/Pinaki Patra (pinakipatrapro)
[access "refs/heads/*"]
	read = group user/Pinaki Patra (pinakipatrapro)
	create = group user/Pinaki Patra (pinakipatrapro)
	push = +force group user/Pinaki Patra (pinakipatrapro)
	pushMerge = group user/Pinaki Patra (pinakipatrapro)
[access "refs/tags/*"]
	push = group user/Pinaki Patra (pinakipatrapro)
	push = +force group user/Pinaki Patra (pinakipatrapro)
